body {
  min-height: 100vh;
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}
.video-container{
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
video{
  max-width: 100vw;
  height: 100vh;
}

